Repository dogmatic69/actions, changes with the labels that .github/labeler.yml gives for each.
All labels: actions, ci, maintainence, documentation

.github/labeler.yml:

# For the actual actions
actions:
  - docker/**
  - file/**
  - git/**

# Maintaining the actions
ci:
  - .github/workflows/*
  - src/documentation/**

maintainence:
  - ./*
  - .github/*
  - .github/ISSUE_TEMPLATE/*

documentation:
  - README.md
  - ./**/README*
  - docs/**
  - src/documentation/**

Update README.md
  README.md
Labels: maintainence, documentation

fix: find PR number for second time runs
  automations/pr-toggle/files/work/toggle-pull-request.js
Labels: none

foo
  foo
Labels: maintainence

Update README.md
  README.md
Labels: maintainence, documentation

Update README.md
  README.md
Labels: maintainence, documentation

fix: find PR number for second time runs
  automations/pr-toggle/files/work/toggle-pull-request.js
Labels: none

Update README.md
  README.md
Labels: maintainence, documentation

Update README.md
  README.md
Labels: maintainence, documentation

Update README.md
  README.md
Labels: maintainence, documentation

Update README.md
  README.md
Labels: maintainence, documentation

fix: find PR number for second time runs
  automations/pr-toggle/files/work/toggle-pull-request.js
Labels: none

Update README.md
  README.md
Labels: maintainence, documentation

Update README.md
  README.md
Labels: maintainence, documentation

Update README.md
  README.md
Labels: maintainence, documentation

Update README.md
  README.md
Labels: maintainence, documentation

fix: find PR number for second time runs
  automations/pr-toggle/files/work/toggle-pull-request.js
Labels: none

Update README.md
  README.md
Labels: maintainence, documentation

Update README.md
  README.md
Labels: maintainence, documentation

fix: bump version so the image builds
  git/lint/commit-lint/Dockerfile
Labels: actions

feat: test things work
  test
Labels: maintainence

fix: issue with boolean logic results in incorrect outcome
  git/lint/commit-lint/files/work/entrypoint.sh
  test.sh
Labels: actions, maintainence
