Repository dogmatic69/actions, changes with the labels that .github/labeler.yml gives for each.
All labels: actions, ci, maintainence, documentation

Update README.md
  README.md
Labels: maintainence, documentation

Update README.md
  README.md
Labels: maintainence, documentation

Update README.md
  README.md
Labels: maintainence, documentation

feat: action for toggling PRs
  automations/pr-toggle/Dockerfile
  automations/pr-toggle/action.yml
  automations/pr-toggle/files/work/index.js
  automations/pr-toggle/files/work/toggle-pull-request.js
Labels: none

Update README.md
  README.md
Labels: maintainence, documentation

feat: action for toggling PRs
  automations/pr-toggle/Dockerfile
  automations/pr-toggle/action.yml
  automations/pr-toggle/files/work/index.js
  automations/pr-toggle/files/work/toggle-pull-request.js
Labels: none

Update README.md
  README.md
Labels: maintainence, documentation

feat: action for toggling PRs
  .github/workflow-templates/automation-pr.yml
  .github/workflows/automation-pr.yml
  automations/pr-toggle/Dockerfile
  automations/pr-toggle/action.yml
  automations/pr-toggle/files/work/index.js
  automations/pr-toggle/files/work/toggle-pull-request.js
Labels: ci

Update README.md
  README.md
Labels: maintainence, documentation

feat: refactor PR automation
  .github/workflow-templates/automation-pr.yml
  .github/workflows/automation-pr.yml
  automations/pr-toggle/Dockerfile
  automations/pr-toggle/action.yml
  automations/pr-toggle/files/work/index.js
  automations/pr-toggle/files/work/toggle-pull-request.js
Labels: ci

Update README.md
  README.md
Labels: maintainence, documentation

feat: refactor PR automation
  .github/workflow-templates/automation-pr.yml
  .github/workflows/automation-pr.yml
  automations/pr-toggle/Dockerfile
  automations/pr-toggle/action.yml
  automations/pr-toggle/files/work/index.js
  automations/pr-toggle/files/work/toggle-pull-request.js
Labels: ci

Update README.md
  README.md
Labels: maintainence, documentation

feat: refactor PR automation
  .github/workflow-templates/automation-pr.yml
  .github/workflows/automation-pr.yml
  automations/pr-toggle/Dockerfile
  automations/pr-toggle/action.yml
  automations/pr-toggle/files/work/index.js
  automations/pr-toggle/files/work/toggle-pull-request.js
Labels: ci

Update README.md
  README.md
Labels: maintainence, documentation

feat: refactor PR automation
  .github/workflow-templates/automation-pr.yml
  .github/workflows/automation-pr.yml
  automations/pr-toggle/Dockerfile
  automations/pr-toggle/action.yml
  automations/pr-toggle/files/work/index.js
  automations/pr-toggle/files/work/toggle-pull-request.js
Labels: ci

Update README.md
  README.md
Labels: maintainence, documentation

feat: refactor PR automation
  .github/workflow-templates/automation-pr.yml
  .github/workflows/automation-pr.yml
  automations/pr-toggle/Dockerfile
  automations/pr-toggle/action.yml
  automations/pr-toggle/files/work/index.js
  automations/pr-toggle/files/work/toggle-pull-request.js
Labels: ci

fix: pin version for node modules
  git/lint/commit-lint/Dockerfile
Labels: actions

test
  README.md
Labels: maintainence, documentation

chore: add debug for PR issue
  .github/workflow-templates/automation-pr.yml
  .github/workflows/automation-pr.yml
Labels: ci

Update README.md
  README.md
Labels: maintainence, documentation

chore: add debug for PR issue
  .github/workflow-templates/automation-pr.yml
  .github/workflows/automation-pr.yml
Labels: ci

Update README.md
  README.md
Labels: maintainence, documentation

chore: add debug for PR issue
  .github/workflow-templates/automation-pr.yml
  .github/workflows/automation-pr.yml
Labels: ci

Update README.md
  README.md
Labels: maintainence, documentation

feat: fail CI when workflow is not up to date
  .github/workflows/automation-pr.yml
  .github/workflows/automation-triage.yml
  .github/workflows/ci-master.yml
  .github/workflows/ci-pr.yml
  src/configurator/Makefile
  src/configurator/files/src/build.js
Labels: ci

fix: get pr id when branch already exists
  automations/pr-toggle/files/work/toggle-pull-request.js
Labels: none

Update README.md
  README.md
Labels: maintainence, documentation

fix: load clinet higher so logs work
  automations/pr-toggle/files/work/toggle-pull-request.js
Labels: none

fix: find PR number for second time runs
  automations/pr-toggle/files/work/toggle-pull-request.js
Labels: none

feat: add foo
  foo
Labels: maintainence

feat: add foo
  foo
Labels: maintainence

feat: add foo
  foo
Labels: maintainence

feat: add foo
  foo
Labels: maintainence

fix: find PR number for second time runs
  automations/pr-toggle/files/work/toggle-pull-request.js
Labels: none

sad: asd
  foo
Labels: maintainence

fix: find PR number for second time runs
  automations/pr-toggle/files/work/toggle-pull-request.js
Labels: none

Update README.md
  README.md
Labels: maintainence, documentation

fix: find PR number for second time runs
  automations/pr-toggle/files/work/toggle-pull-request.js
Labels: none

.github/labeler.yml:

# For the actual actions
actions:
  - docker/**
  - file/**
  - git/**

# Maintaining the actions
ci:
  - .github/workflows/*
  - src/documentation/**

maintainence:
  - ./*
  - .github/*
  - .github/ISSUE_TEMPLATE/*

documentation:
  - README.md
  - ./**/README*
  - docs/**
  - src/documentation/**
