Repository dogmatic69/actions, changes with the labels that .github/labeler.yml gives for each.
All labels: actions, ci, maintainence, documentation

Update documentation
  docs/file-lint-awesome-ci.md
Labels: documentation

fix: rule ignored files like .gitignore but should only ignore the .git folder
  file/lint/awesome-ci/action.yml
Labels: actions

Update documentation
  docs/file-lint-awesome-ci.md
Labels: documentation

fix: Ignore SVG files when linting
  file/lint/awesome-ci/action.yml
Labels: actions

Update documentation
  docs/file-lint-awesome-ci.md
Labels: documentation

feature(checkov): initial implementation of checkov for terraform
  code/terraform/checkov/Dockerfile
  code/terraform/checkov/Makefile
  code/terraform/checkov/action.yml
  code/terraform/checkov/files/work/entrypoint.sh
  code/terraform/checkov/workspace
Labels: none

feature(pruner): Add code to prune / cleanup registries
  .github/workflows/ci.yml
  docker/pruner/Dockerfile
  docker/pruner/Makefile
  docker/pruner/action.yml
  docker/pruner/files/work/entrypoint.sh
Labels: actions, ci

fix: Use sprintf to add space between paths so for loop works correctly
  file/lint/checkmake/files/work/entrypoint.sh
Labels: actions

fix: Add missing find utils package for sprintf in find
  file/lint/checkmake/Dockerfile
Labels: actions

fix: revert file utils as it does not work
  file/lint/checkmake/Dockerfile
Labels: actions

fix: take files line by line so they can be used correctly
  file/lint/checkmake/files/work/entrypoint.sh
Labels: actions

Update entrypoint.sh
  file/lint/checkmake/files/work/entrypoint.sh
Labels: actions

feat: optional argument for gh token
  .github/workflows/ci.yml
  docker/audit/trivy/action.yml
  docker/audit/trivy/files/work/entrypoint.sh
Labels: actions, ci

fix: use env correctly
  docker/audit/trivy/files/work/entrypoint.sh
Labels: actions

feat: CI workflow generator
  .github/workflow-templates/automation-pr.yml
  .github/workflow-templates/automation-triage.yml
  .github/workflow-templates/ci-master.yml
  .github/workflow-templates/ci-pr.yml
  .github/workflows/automation-pr.yml
  .github/workflows/automation-triage.yml
  .github/workflows/ci-master.yml
  .github/workflows/ci-pr.yml
  .github/workflows/ci.yml
  file/lint/checkmake/Makefile
  file/lint/checkmake/files/work/entrypoint.sh
  src/configurator/Dockerfile
  src/configurator/Makefile
  src/configurator/files/src/build.js
  src/configurator/files/src/index.js
  src/configurator/files/src/libs.js
  src/configurator/files/src/package.json
  src/configurator/files/src/yarn.lock
  src/documentation/Makefile
Labels: actions, ci, documentation

chore: update status icons
  README.md
Labels: maintainence, documentation

fix: makefile linting working
  file/lint/checkmake/Dockerfile
  file/lint/checkmake/Makefile
  file/lint/checkmake/files/work/entrypoint.sh
Labels: actions

test
  LICENSE
Labels: maintainence

feat: Make target size configurable
  file/lint/checkmake/action.yml
  file/lint/checkmake/files/work/entrypoint.sh
Labels: actions

Update documentation
  docs/README.md
  docs/docker-audit-trivy.md
  docs/file-lint-checkmake.md
Labels: documentation

chore: fix links to point to correct repo
  README.md
Labels: maintainence, documentation

fix: input variable has wrong format
  file/lint/checkmake/action.yml
Labels: actions

Update documentation
  docs/file-lint-checkmake.md
Labels: documentation

fix: correct format for commit message
  .github/workflow-templates/ci-master.yml
Labels: none

fix: typo in variable name
  file/lint/checkmake/files/work/entrypoint.sh
Labels: actions

chore: reformat the readme
  README.md
Labels: maintainence, documentation

feat(git/commit-lint): commit message linting
  .commitlintrc.js
  .github/workflow-templates/ci-master.yml
  .github/workflow-templates/ci-pr.yml
  .github/workflows/ci-master.yml
  .github/workflows/ci-pr.yml
  git/lint/commit-lint/Dockerfile
  git/lint/commit-lint/Makefile
  git/lint/commit-lint/action.yml
  git/lint/commit-lint/files/work/entrypoint.sh
  git/lint/commit-lint/files/work/package.json
  src/configurator/files/src/build.js
  src/configurator/files/src/libs.js
Labels: actions, ci, maintainence

chore: update documentation (auto-generated)
  docs/README.md
  docs/git-lint-commit-lint.md
Labels: documentation

chore: refactor configurator
  .github/workflow-templates/ci-master.yml
  .github/workflow-templates/ci-pr.yml
  .github/workflows/ci-pr.yml
  git/lint/commit-lint/files/work/entrypoint.sh
  src/configurator/files/src/build.js
  src/configurator/files/src/libs.js
Labels: actions, ci

Update .gitignore
  .gitignore
Labels: maintainence

fix: correct install for commit-lint
  git/lint/commit-lint/Dockerfile
Labels: actions

fix: correct install for commit-lint
  git/lint/commit-lint/Dockerfile
Labels: actions

Update README.md
  README.md
Labels: maintainence, documentation

Update README.md
  README.md
Labels: maintainence, documentation

fix: correct install for commit-lint
  git/lint/commit-lint/Dockerfile
Labels: actions

feat: automate PRs correctly
  .github/workflow-templates/automation-pr.yml
Labels: none

Update README.md
  README.md
Labels: maintainence, documentation

feat: refactor PR automation
  .github/workflow-templates/automation-pr.yml
Labels: none

Update README.md
  README.md
Labels: maintainence, documentation

feat: refactor PR automation
  .github/workflow-templates/automation-pr.yml
  .github/workflows/automation-pr.yml
Labels: ci

.github/labeler.yml:

# For the actual actions
actions:
  - docker/**
  - file/**
  - git/**

# Maintaining the actions
ci:
  - .github/workflows/*
  - src/documentation/**

maintainence:
  - ./*
  - .github/*
  - .github/ISSUE_TEMPLATE/*

documentation:
  - README.md
  - ./**/README*
  - docs/**
  - src/documentation/**
