Repository dogmatic69/actions, changes with the labels that .github/labeler.yml gives for each.
All labels: wip, maintainence, ci, documentation, scripts, actions|automations, actions|docker, actions|file, actions|git

feat: add size labels for PRs
  .github/workflow-templates/automation-triage.yml
  .github/workflows/automation-triage.yml
Labels: wip, ci

feat: make versioning looser
  docker/service/Dockerfile
Labels: wip, actions|docker

feat: docker hub pusblishing
  src/configurator/Makefile
  targets/Makefile.docker
Labels: wip, scripts

fix: tweaks to make things run smoother
  src/configurator/Makefile
  src/configurator/files/src/build.js
  src/configurator/files/src/index.js
  src/configurator/files/src/libs.js
Labels: wip, scripts

Add license scan report and status
  README.md
Labels: wip, maintainence, documentation

feat: versioned hadolint
  docker/lint/hadolint/action.yml
  docker/lint/hadolint/files/work/entrypoint.sh
Labels: wip, actions|docker

feat: add depth option
  .github/workflow-templates/ci-pr.yml
  git/audit/gitleaks/action.yml
  git/audit/gitleaks/files/work/entrypoint.sh
Labels: wip, actions|git

feat: testing
  README.md
  docker/service/Dockerfile
Labels: wip, maintainence, documentation, actions|docker

chore(deps): update dependency eslint-plugin-react-hooks to v2.5.1
  src/configurator/files/src/package.json
  src/configurator/files/src/yarn.lock
  src/documentation/files/src/package.json
  src/documentation/files/src/yarn.lock
Labels: wip, ci, documentation, scripts

fix(deps): update dependency lodash to v4.17.21 [security]
  src/configurator/files/src/package.json
  src/configurator/files/src/yarn.lock
Labels: wip, scripts

fix(deps): update dependency conventional-changelog-angular to v5.0.13
  git/lint/commit-lint/files/work/package.json
Labels: wip, actions|git

chore(deps): update dependency eslint-config-airbnb to v18.2.1
  src/configurator/files/src/package.json
  src/configurator/files/src/yarn.lock
  src/documentation/files/src/package.json
  src/documentation/files/src/yarn.lock
Labels: wip, ci, documentation, scripts

fix(deps): update dependency conventional-changelog-conventionalcommits to v4.6.3
  git/lint/commit-lint/files/work/package.json
Labels: wip, actions|git

chore(deps): update dependency eslint-plugin-import to v2.26.0
  src/configurator/files/src/package.json
  src/configurator/files/src/yarn.lock
  src/documentation/files/src/package.json
  src/documentation/files/src/yarn.lock
Labels: wip, ci, documentation, scripts

chore(deps): pin dependencies
  src/configurator/files/src/package.json
  src/configurator/files/src/yarn.lock
  src/documentation/files/src/package.json
  src/documentation/files/src/yarn.lock
Labels: wip, ci, documentation, scripts

fix: bump version
  docker/lint/hadolint/Dockerfile
Labels: wip, actions|docker

chore: update documentation (auto-generated)
  README.md
  docs/README.md
  docs/automations-pr-toggle.md
  docs/docker-audit-trivy.md
  docs/docker-lint-hadolint.md
  docs/docker-service.md
  docs/file-lint-awesome-ci.md
  docs/file-lint-checkmake.md
  docs/git-audit-gitleaks.md
  docs/git-lint-awesome-ci.md
  docs/git-lint-commit-lint.md
Labels: wip, maintainence, documentation

fix: trivy build
  docker/service/Dockerfile
Labels: wip, actions|docker

fix: add progress to fix lint
  docker/lint/hadolint/Dockerfile
Labels: wip, actions|docker

chore: update documentation (auto-generated)
  README.md
  docs/README.md
  docs/automations-pr-toggle.md
  docs/docker-audit-trivy.md
  docs/docker-lint-hadolint.md
  docs/docker-service.md
  docs/file-lint-awesome-ci.md
  docs/file-lint-checkmake.md
  docs/git-audit-gitleaks.md
  docs/git-lint-awesome-ci.md
  docs/git-lint-commit-lint.md
Labels: wip, maintainence, documentation

fix: attemt to fix again
  docker/lint/hadolint/Dockerfile
Labels: wip, actions|docker

fix: add yarn clean
  src/documentation/Dockerfile
Labels: wip, ci, documentation, scripts

chore: update documentation (auto-generated)
  README.md
  docs/README.md
  docs/automations-pr-toggle.md
  docs/docker-audit-trivy.md
  docs/docker-lint-hadolint.md
  docs/docker-service.md
  docs/file-lint-awesome-ci.md
  docs/file-lint-checkmake.md
  docs/git-audit-gitleaks.md
  docs/git-lint-awesome-ci.md
  docs/git-lint-commit-lint.md
Labels: wip, maintainence, documentation

fix: another yarn clean
  src/configurator/Dockerfile
Labels: wip, scripts

chore: update documentation (auto-generated)
  README.md
  docs/README.md
  docs/automations-pr-toggle.md
  docs/docker-audit-trivy.md
  docs/docker-lint-hadolint.md
  docs/docker-service.md
  docs/file-lint-awesome-ci.md
  docs/file-lint-checkmake.md
  docs/git-audit-gitleaks.md
  docs/git-lint-awesome-ci.md
  docs/git-lint-commit-lint.md
Labels: wip, maintainence, documentation

fix: auth setup for rregistry
  src/configurator/README.md
  targets/Makefile.docker
Labels: wip, documentation, scripts

chore: update documentation (auto-generated)
  README.md
  docs/README.md
  docs/automations-pr-toggle.md
  docs/docker-audit-trivy.md
  docs/docker-lint-hadolint.md
  docs/docker-service.md
  docs/file-lint-awesome-ci.md
  docs/file-lint-checkmake.md
  docs/git-audit-gitleaks.md
  docs/git-lint-awesome-ci.md
  docs/git-lint-commit-lint.md
Labels: wip, maintainence, documentation

fix(deps): update dependency conventional-changelog-angular to v5.0.13
  git/lint/commit-lint/files/work/package.json
Labels: wip, actions|git

chore(deps): update dependency eslint-plugin-react-hooks to v2.5.1
  src/configurator/files/src/package.json
  src/configurator/files/src/yarn.lock
  src/documentation/files/src/package.json
  src/documentation/files/src/yarn.lock
Labels: wip, ci, documentation, scripts

fix(deps): update dependency conventional-changelog-conventionalcommits to v4.6.3
  git/lint/commit-lint/files/work/package.json
Labels: wip, actions|git

fix(deps): update eslint-config-airbnb to v18.2.1 in configurator and documentation
  src/configurator/files/src/package.json
  src/documentation/files/src/package.json
Labels: wip, ci, documentation, scripts

Add license scan report and status
  README.md
  file/lint/wordcloud/Dockerfile
  file/lint/wordcloud/files/src/entrypoint.py
Labels: wip, maintainence, documentation, actions|file

fix: remove extra blank line in README.md (from PR #97)
  README.md
Labels: wip, maintainence, documentation

feat: add version input to hadolint action and fix typo (from PR #94)
  docker/lint/hadolint/action.yml
  docker/lint/hadolint/files/work/entrypoint.sh
Labels: wip, actions|docker

chore: remove unrelated wordcloud files accidentally included from PR #93 branch
  file/lint/wordcloud/Dockerfile
  file/lint/wordcloud/files/src/entrypoint.py
Labels: wip, actions|file

fix: more issues
  .github/workflow-templates/automation-triage.yml
  .github/workflows/automation-triage.yml
  README.md
  src/configurator/files/src/package.json
  src/configurator/files/src/yarn.lock
  src/documentation/files/src/package.json
  src/documentation/files/src/yarn.lock
Labels: wip, maintainence, ci, documentation, scripts

chore: update documentation (auto-generated)
  README.md
  docs/README.md
  docs/automations-pr-toggle.md
  docs/docker-audit-trivy.md
  docs/docker-lint-hadolint.md
  docs/docker-service.md
  docs/file-lint-awesome-ci.md
  docs/file-lint-checkmake.md
  docs/git-audit-gitleaks.md
  docs/git-lint-awesome-ci.md
  docs/git-lint-commit-lint.md
Labels: wip, maintainence, documentation

Add license scan report and status
  README.md
Labels: wip, maintainence, documentation

docs: remove extra blank line in README (from PR #97)
  README.md
Labels: wip, maintainence, documentation

chore: update documentation (auto-generated)
  README.md
  docs/README.md
  docs/automations-pr-toggle.md
  docs/docker-audit-trivy.md
  docs/docker-lint-hadolint.md
  docs/docker-service.md
  docs/file-lint-awesome-ci.md
  docs/file-lint-checkmake.md
  docs/git-audit-gitleaks.md
  docs/git-lint-awesome-ci.md
  docs/git-lint-commit-lint.md
Labels: wip, maintainence, documentation

.github/labeler.yml:

# For the actual actions
wip:
  - ./*
  - '**'

maintainence:
  - ./*
  - .github/*
  - .github/ISSUE_TEMPLATE/*

# Maintaining the actions
ci:
  - .github/workflows/*
  - src/documentation/**

documentation:
  - README.md
  - ./**/README*
  - docs/**
  - src/documentation/**

scripts:
  - src/**

actions|automations:
  - automations/**

actions|docker:
  - docker/**

actions|file:
  - file/**

actions|git:
  - git/**
